* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./images/0fc70d7b595a348ffa100963a8b11bcb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
}

.container-principal{
    width: 100%;
}